.container {
  width: 100%;
  height: 100lvh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body {
  font-family: Arial, sans-serif;
  font-style: Bold;
  margin: 0;
}
